.calendar {
  width: 350px;
  margin-top: auto;
}

.calendar__month {
  font-size: 20px;
  font-weight: 800;
  padding: 10px 0;
  width: 100%;
  position: relative;
}

.cal-month__previous,
.cal-month__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
}
.cal-month__previous:hover,
.cal-month__next:hover {
  background-color: #42a5f5;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  font-weight: 800;
  color: #111;
}

.cal-month__next {
  right: 0;
}

.cal-month__current {
  text-align: center;
  color: #e1e1e1;
}

.cal-head__day,
.cal-body__day {
  color: white;
  display: inline-block;
  width: 50px;
  height: 50px;
  float: left;
}

.cal-body__week,
.calendar__head {
  display: block;
  height: 50px;
  width: 350px;
}

.calendar__head {
  line-height: 50px;
  position: relative;
}
.calendar__head:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #90caf9;
}

.cal-body__day {
  color: #777;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.cal-day__month--current {
  color: #e1e1e1;
}

.cal-day__day--today {
  font-weight: 800;
  color: #2196f3;
}

.cal-day__day--selected {
  background-color: #2196f3;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  color: #111;
}

.calendarIndent {
  /* width: 20%; */
  /* margin: 0; */
  margin-top: auto;
  margin-left: auto;
  background-color: rgb(36, 46, 66);
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.fileUploader {
  height: 10%;
  margin: 0;
  border: #e1e1e1 2px solid;
  color: white;
}

.perDay {
  width: 77%;
  height: 100%;
  margin-right: auto;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sirfCalender {
  margin-top: auto;
}

.fileUploader {
  /* display: flex;
  justify-content: center;
  align-items: center;

  width: 100%; */
  height: 70%;
}

#file-upload {
  /* width: 10%; */
  transform: translateX(50%) translateY(50%);
  margin: 10px;
}

input[type='file']::file-selector-button {
  display: block;
  border: 2px solid #6c5ce7;
  padding: 0.5em 0.6em;
  border-radius: 14px;
  background-color: #2196f3;
  color: white;
  /* transition: 1s; */
}


