<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Error</title>
    <link href="/collegemanagement/iiitbhopal/static/StyleSheets/error500.css" rel="stylesheet">
</head>
<body>
<div class="full-screen">
      <div class='container'>
        <span class="error-num">5</span>
        <div class='eye'></div>
        <div class='eye'></div>

        <p class="sub-text">Oh eyeballs! Something went wrong. We're <span class="italic">looking</span> to see what happened.</p>

          <span style="margin-right: 20px"><a href="/">Back to Home</a></span>
        <span><a href="mailto:iiitbhopal.ac.in">Report Bug</a></span>
      </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/collegemanagement/iiitbhopal/static/JavaScript/error500.js" ></script>
</body>
</html>